extends templates/login
block Content
	form.login(action="/autenticacao", method="POST")
		img.login__image(src="/images/logo.png", title=APP_NAME, alt=APP_NAME)
		input.login__input(required, type="text", name="email", inputmode="email", placeholder="Email", aria-label="Email")
		input.login__input(required, type="password", name="password", placeholder="Senha", aria-label="Senha")
		button.button.button--green(type="submit", aria-label="Efetuar o login") EFETUAR O LOGIN
		small.login__error=session.message