extends templates/main
block Content
	form.default(method="POST", action="/admin/noticias/formulario", enctype="multipart/form-data")
		input(type="hidden", name="id", value=news.id)
		img.default__image(src=(news.image || "/images/no-image.png"), alt="Selecione uma imagem", title="Selecione uma imagem")
		.default__group
			input.default__input(type="text", name="title", placeholder="Título da notícia", aria-label="Título da notícia", value=news.title)
			input.default__file(type="file", name="image", data-placeholder="SELECIONAR IMAGEM", aria-label="Clique para selecionar uma imagem", accept="image/jpg,image/jpeg,image/png")
		textarea(name="content", placeholder="Conteúdo da notícia", aria-label="Insira o conteúdo da notícia")!=news.content
		.default__submit
			button.button.button--green(type="submit", aria-label="Salvar notícia") SALVAR NOTÍCIA

block Scripts
	script(src="/tinymce/tinymce.min.js")
	script.
		window.addEventListener('load', function () {
			Admin.tinyMCE();
			Admin.preview();
		});