extends templates/main
block Content
	section.cards
		each page in pages
			.card__wrapper
				.card
					.card__title=page.name
					.card__text=textPreview(page.content)
					.card__footer
						a.button.button--green.button--fullwidth.button--small(href=`/admin/paginas/formulario/${page.id}`) EDITAR CONTEÚDO