extends templates/main
block Content
	form.default
		.default__group
			select.default__select(name="status", aria-label="Selecione o status")
				option(value="1") Usuários ativos
				option(value="0") Usuários inativos
			input.default__input(type="text", name="email", placeholder="E-mail do usuário", aria-label="Insira o e-mail do usuário")
			button.button.button--orange(aria-label="Clique para realizar sua pesquisa", type="submit") #[.button--icon.icon.icon--search]
			button.button.button--green(type="button", aria-label="Clique para adicionar outro usuário", data-modal="user") ADICIONAR USUÁRIO
	section.cards
		each user in users
			=user.email

	.modal#user
		.modal__content
			span.modal__close ×
			form.default
				input.default__input(type="text", name="email", placeholder="E-mail", aria-label="Insira o e-mail do usuário")
				select.default__select(name="admin")
					option(value="") Perfil
					option(value="0") Usuário
					option(value="1") Administrador
				button.button.button--green.button--fullwidth(type="submit", aria-label="Inserir usuário") ADICIONAR USUÁRIO

block Scripts
	script.
		window.addEventListener('load', function () {
			Admin.modal();
		});