doctype html
html(lang="pt-br")
	head
	include ../../global/Head
	body
		include ../components/Navbar
		.content
			block Content
		script(src=asset('/js/app.js'))
		include ../components/Alert
		block Scripts