nav.navbar
	.navbar__top
		a.navbar__link(href="/admin/noticias")
			.navbar__icon.icon.icon--news
			.navbar__text Notícias
		a.navbar__link(href="/admin/contato")
			.navbar__icon.icon.icon--telephone
			.navbar__text Contato
		a.navbar__link(href="/admin/usuarios")
			.navbar__icon.icon.icon--user
			.navbar__text Usuários
		a.navbar__link(href="/admin/paginas")
			.navbar__icon.icon.icon--page
			.navbar__text Páginas
		a.navbar__link(href="/admin/configuracoes")
			.navbar__icon.icon.icon--settings
			.navbar__text Configurações
	.navbar__bottom
		.navbar__text=session.user.email
		a.navbar__strong(href="/autenticacao/logout") Sair
		span.navbar__strong(data-modal="password") Alterar senha

	.modal#password
		.modal__content
			span.modal__close ×
			form.default(action="/autenticacao/senha", method="POST")
				input.default__input(type="password", name="password", placeholder="Nova senha", aria-label="Nova senha")
				input.default__input(type="password", name="password_confirmation", placeholder="Confirme a senha", aria-label="Confirme a senha")
				button.button.button--green.button--fullwidth(type="submit", aria-label="Alterar senha") ALTERAR SENHA

script.
	document.addEventListener('DOMContentLoaded', function () {
		Admin.navbar();
	});